
.NavbarContainer {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background: rgba(255,255,255,0.95);
  display: flex;
  align-items: center;        /* vertical center */
  justify-content: flex-end;  /* MOVE TO RIGHT */
  padding-right: 100px;        /* space from right edge */
  box-shadow: 0px 1px 3px rgba(23, 26, 31, 0.07);
}
/* Button */
.button {
  height: 40px;
  margin-right: 30px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(23,26,31,1);
  background: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer; 
}

.button:hover {
  color: black; /* neutral-900 */
  background-color:whitesmoke; /* black */
}
/* Pressed */
.button:hover:active {
  color: rgba(23,26,31,1); /* neutral-900 */
  background: rgba(0,0,0,0); /* black */
}
/* Disabled */
.button:disabled {
  opacity: 0.4; 
}