.CtaSection {
  width: 100%;
  padding: 120px 24px;
  background: white;
  display: flex;
  justify-content: center;
}

.CtaContainer {
  max-width: 980px;
  width: 100%;
  background-color: #3b82f6;
  border-radius: 8px;
  padding: 64px 48px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.CtaTitle {
  font-family: "Space Mono", monospace;
  font-size: 36px;
  color: white;
}

.CtaSubtitle {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
  color: #e5edff;
}

.CtaButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}


/* Button */
.CtaButton {
  width: 160px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: rgba(30,33,40,1);

  background: rgba(243,244,246,1);
  border-radius: 6px;
  border: none;

  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.CtaButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}


@media (max-width: 768px) {
  .CtaContainer {
    padding: 48px 24px;
  }

  .CtaTitle {
    font-size: 26px;
    line-height: 34px;
  }

  .CtaSubtitle {
    font-size: 15px;
    line-height: 24px;
  }
}

