.FeaturedProject {
  width: 100%;
  padding: 120px 24px;
  background: white;
}

.headingFP {
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 64px;
}

.SecondFPContainer {
  max-width: 1152px;
  margin: 0 auto;
  background: white;
  border: 1px solid rgba(222,225,230,1);
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(23, 26, 31, 0.09);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  padding: 32px;
}

.FPImage {
  width: 100%;
}

.FPPrimaryText {
  font-size: 30px;
  font-weight: 600;
}

.FPSecondaryText {
  margin-top: 16px;
  font-size: 18px;
  color: rgba(86,93,109,1);
}



/* Explore Project Button */
.Explore { 
  width: 135px; 
  height: 40px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 14px; 
  line-height: 22px; 
  font-weight: 500; 
  color: rgba(255,255,255,1); /* white */
  background: rgba(61,138,245,1); /* primary-500 */
  opacity: 1; 
  border-radius: 6px; 
  border-width: 0px; 
  border-color: rgba(0,0,0,1); /* black */
  border-style: solid; 
}
/* Hover */
.Explore:hover {
  color: rgba(255,255,255,1); /* white */
  background: rgba(61,138,245,1); /* primary-500 */
}
/* Pressed */
.Explore:hover:active {
  color: rgba(255,255,255,1); /* white */
  background: rgba(61,138,245,1); /* primary-500 */
}
/* Disabled */
.Explore:disabled {
  opacity: 0.4; 
}
@media (max-width: 768px) {
  .SecondFPContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
