* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: Inter, sans-serif;
  color: rgba(23,26,31,1);
}

.Container {
  width: 100%;
}


.IntroContainer{
  width: 100%;
  padding: 120px 24px 80px;
  margin-top: 72px;
  background: white;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 48px;
}
.PrimaryText {
  font-family: "Space Mono", monospace;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
}
.SecondaryText {
  margin-top: 24px;
  font-size: 24px;
  line-height: 32px;
  color: rgba(86,93,109,1);
}

.HeroButtons {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  align-items: center;
}


/* View Project Button */
.ViewProject {
  width: 164.40625px; 
  height: 48px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 500; 
  color: rgba(255,255,255,1); /* white */
  background: rgba(61,138,245,1); /* primary-500 */
  opacity: 1; 
  border-radius: 6px; 
  border-width: 0px; 
  border-color: rgba(0,0,0,1); /* black */
  border-style: solid; 
}
/* Hover */
.ViewProject:hover {
  color: rgba(255,255,255,1); /* white */
  background: rgba(61,138,245,1); /* primary-500 */
}
/* Pressed */
.ViewProject:hover:active {
  color: rgba(255,255,255,1); /* white */
  background: rgba(61,138,245,1); /* primary-500 */
}
/* Disabled */
.ViewProject:disabled {
  opacity: 0.4; 
}

/* Learn More Button */
.LearnMore {
  width: 151.46875px; 
  height: 50px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Inter; 
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 500; 
  color: rgba(23,26,31,1); /* neutral-900 */
  background: rgba(255,255,255,1); /* white */
  opacity: 1; 
  border-radius: 6px; 
  border-width: 1px; 
  border-color: rgba(222,225,230,1); /* neutral-300 */
  border-style: solid; 
}
/* Hover */
.LearnMore:hover {
  color: rgba(23,26,31,1); /* neutral-900 */
  background: rgba(255,255,255,1); /* white */
}
/* Pressed */
.LearnMore:hover:active {
  color: rgba(23,26,31,1); /* neutral-900 */
  background: rgba(255,255,255,1); /* white */
}
/* Disabled */
.LearnMore:disabled {
  opacity: 0.4; 
}

/* Image */
.image {
  width: 100%;
  max-width: 600px;
  top: 114px; 
  left: 816px; 
  width: 592px; 
  height: 394.65625px; 
  border-radius: 0px 0px 0px 0px; 
}

@media (max-width: 768px) {
  .HeroButtons{
    justify-content: center;
    flex-wrap: wrap;
  }
  .IntroContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .PrimaryText {
    font-size: 42px;
    line-height: 48px;
  }

  .SecondaryText {
    font-size: 18px;
  }
}

